# .env - Configuration du SSH Honeypot

# IP d'écoute
HOST=0.0.0.0

# Port SSH
PORT=22

# Répertoire absolu ou relatif pour les logs
LOG_PATH=./logs

# Nom du service
SERVICE_NAME=ssh-honeypot

# Refuser login == password
LOGINPASSWD=True

# Taille clé SSH
SSH_KEY_BITS=2048

# Activer le mode debug
DEBUG=False

# Directory where captured payloads are stored
PAYLOAD_PATH=./payloads

# VirusTotal
VT_API_KEY=your_virustotal_api_key_here