# .env - Configuration du SSH Honeypot

# IP d'écoute
HOST=0.0.0.0

# Port SSH
PORT=22

# Répertoire absolu ou relatif pour les logs
LOG_PATH=/opt/potdemiel/sshd/logs

# Nom du service
SERVICE_NAME=ssh-honeypot

# Refuser login == password
LOGINPASSWD=True

# Taille clé SSH
SSH_KEY_BITS=2048

# Activer le mode debug
DEBUG=False
